<div class="pageContentWrapper not_signed_in  ">
  <div class="container max-width-940 " id="brand-contentCardArea">
    <div id="faq" class="col-xs-12 SSaccountHeader Template info-pages">
      <div class="body_content_header">
        <h1 class="SSH1 fontMS font40px44pxlh font-light vertical-spacing-4">Frequently Asked Questions</h1>
        <p>If you have questions regarding your OneVanilla Card, please search for an answer below.</p>
        <!-- start help template -->

        <div class="col-xs-12 col-sm-7 collapse-padding">
            <app-faq-accordions></app-faq-accordions>
        </div>
        <!-- finish help template -->
        <!-- start contact us faq	template -->
        <div class="col-xs-12 col-md-5">
          <!--Right Side Begins/ Help Menu Area/support Area-->

          <div class="contactContent">
            <h3 class="SSH3 fontMS font13px font-bold font-color-colorfieldlabel">Contact Us</h3>

            <img class="img-responsive" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/customer_service.jpg">

            <span class="fontPN font15px23pxlh">
            <p>To reach Customer Care, call:</p>

<p><strong>1-877-770-6408</strong></p>

<p>Or write to:</p>

<p><strong>OneVanilla&nbsp;Customer Care<br>
PO Box 826<br>
Fortson, GA 31808</strong></p>

        </span>
          </div>

          <!--Right Side Ends/ Help Menu Area/support Area--></div>
        <!-- ends contact us faq	template -->

      </div>
    </div>
  </div>
</div>