<div class="pageContentWrapper not_signed_in  ">
  <div class="container max-width-940 " id="brand-contentCardArea">
    <div id="faq" class="col-xs-12 SSaccountHeader Template info-pages">
























      <div class="body_content_header">
        <h1 class="SSH1 fontMS font40px44pxlh font-light vertical-spacing-4">Frequently Asked Questions</h1>


        <p>If you have questions regarding your OneVanilla Card, please search for an answer below.</p>



        <!-- start help template -->

        <div class="col-xs-12 col-sm-7 collapse-padding">
          <div class="panel-group" id="accordion_faq">


            <!--FAQ Category 1 Begin-->


            <div class="faqHeader"></div>
            <!--Start Accordion List Parent-->
            <div class="accordionsFAQ">

              <div class="heading">
                <h4 class="title fontMS font20px28pxlh font-bold font-color-colorbrand10 font-bold">
                  <a data-toggle="collapse" data-parent="#accordionsFAQ0" href="#faq0" class="accordion-toggle">
                    General Information &amp; Getting Started
                  </a>
                </h4>
              </div>


              <div id="faq0" class="faq-collapse collapse">
                <div class="panel-body">

                  <!-- Here is nested accordion sub-accordions-->
                  <div class="faq-group" id="faq0">


                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion5461" href="#collapseInner5461">
                            How do I use my OneVanilla Card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5461" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>Simply present the card at the time of payment, and sign the receipt. If you wish to use your card for a debit transaction, you will need to select a PIN of your choice for your card. See below to learn more about selecting your PIN. As you use the OneVanilla Card, the balance will be reduced by the full amount of each purchase including taxes, charges and other fees, if any. The OneVanilla Card can be used to pay the full amount of the purchase and applicable taxes, so long as the balance remaining on the card is sufficient. If you want to make a purchase for an amount greater than the remaining balance, you must notify the merchant before completing the transaction.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion5928" href="#collapseInner5928">
                            What denominations can I purchase a OneVanilla Card in?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5928" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>The OneVanilla Prepaid Card is a variable load card, which means you can load it with any amount of your choice from $20 up to $500. The variable load OneVanilla Card is available for purchase at certain retail locations. You can also purchase $50 and $100 OneVanilla Cards at select retail locations.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion5929" href="#collapseInner5929">
                            When can I start using my OneVanilla Card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5929" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>You can start using your OneVanilla Card at the time of purchase. The OneVanilla Card is activated at the store. Note: Some retailers may hold funds for up to 24 hours after time of purchase.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion24" href="#collapseInner24">
                            Where can I use my OneVanilla Card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner24" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>You can use your OneVanilla Card anywhere Visa debit cards, PULSE cards or Debit MasterCard is accepted within the fifty United States and District of Columbia. The OneVanilla Card cannot be used at merchants outside the United States, including Internet and mail order/telephone order merchants.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion5920" href="#collapseInner5920">
                            How do I activate my OneVanilla Card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5920" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>The card is activated by the cashier at the time of purchase. Sign the back of the card immediately where indicated. We recommend that you write down the card number and the Customer Care number on a separate piece of paper in case the card is lost or stolen.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion5921" href="#collapseInner5921">
                            Can I reload my OneVanilla Card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5921" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>The OneVanilla Card is not reloadable or returnable. If you are interested in a reloadable prepaid card, visit www.myvanillacard.com&nbsp;to learn how to sign up for a MyVanilla Prepaid Card.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion5930" href="#collapseInner5930">
                            Can I get cash with my OneVanilla Card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5930" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>The OneVanilla Card cannot be used at ATMs. Neither can you use your card to get cash back at the point of sale.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion5931" href="#collapseInner5931">
                            What are the fees associated with the card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5931" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>No fees other than the initial purchase charge will be applied to the card.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey ">
                          <a data-toggle="collapse" data-parent="#accordion5932" href="#collapseInner5932">
                            Can I share the balance or funds from one OneVanilla Card to another OneVanilla Card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5932" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>No, you cannot share the balance or funds from one OneVanilla Card to another OneVanilla Card.</p>

                        </div>
                      </div>
                    </div>


                  </div>
                  <!-- Here is nested accordion sub-accordions-->

                </div>
              </div>



            </div>
            <!--End Accordion List Parent-->


            <!--FAQ Category 1 Ends-->


            <!--FAQ Category 2 Begin-->


            <div class="faqHeader"></div>
            <!--Start Accordion List Parent-->
            <div class="accordionsFAQ">

              <div class="heading">
                <h4 class="title fontMS font20px28pxlh font-bold font-color-colorbrand10">
                  <a data-toggle="collapse" data-parent="#accordionsFAQ1" href="#faq1" class="accordion-toggle">
                    Using My Card
                  </a>
                </h4>
              </div>


              <div id="faq1" class="faq-collapse collapse">
                <div class="panel-body">

                  <!-- Here is nested accordion sub-accordions-->
                  <div class="faq-group" id="faq1">


                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey">
                          <a data-toggle="collapse" data-parent="#accordion5616" href="#collapseInner5616">
                            What billing address do I use for online and phone transactions?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5616" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>Your personal information is not associated with the card, therefore you should use your mailing address. This will ensure that if a problem arises you are able to be contacted by the merchant.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey">
                          <a data-toggle="collapse" data-parent="#accordion5617" href="#collapseInner5617">
                            Why is the merchant charging me for more than what I signed on my receipt?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5617" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>Some purchases require a preauthorization. This is where the merchant sends in a transaction for a higher amount than the purchase. For example a $40 purchase at a restaurant is typically sent by the restaurant as $48 as they want to allow for a tip. We are required to approve and hold funds based on the $48 until the merchant finalizes the transaction which can take up to 10 days.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey">
                          <a data-toggle="collapse" data-parent="#accordion5619" href="#collapseInner5619">
                            How are merchandise returns processed?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5619" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>If you are entitled to a refund for goods or services obtained with your card, you agree to accept credits to the balance on your card in place of cash. The credit will reflect on the card within 30 days.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey">
                          <a data-toggle="collapse" data-parent="#accordion5926" href="#collapseInner5926">
                            Can I use my OneVanilla Card at gas stations?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5926" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>Yes, you can use your OneVanilla Card at gas stations. However, please be aware some merchants place a hold of $125 or more on your card when you pay-at-the-pump. The hold is only temporary until the transaction is finalized. While the hold is typically brief, it may remain on your card for up to seven days. Once the transaction is finalized, you will only pay for the gas you purchased. If your card does not have a balance of at least $125, it may be declined. We recommend you pay inside with the attendant for the exact amount and sign the receipt instead.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey">
                          <a data-toggle="collapse" data-parent="#accordion5927" href="#collapseInner5927">
                            Can I use my OneVanilla Card for recurring billing?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5927" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px23pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>No, your OneVanilla Card cannot be used for recurring bill payments.</p>

                        </div>
                      </div>
                    </div>


                  </div>
                  <!-- Here is nested accordion sub-accordions-->

                </div>
              </div>



            </div>
            <!--End Accordion List Parent-->


            <!--FAQ Category 2 Ends-->



            <!--FAQ Category 3 Begin-->


            <div class="faqHeader"></div>
            <!--Start Accordion List Parent-->
            <div class="accordionsFAQ">

              <div class="heading">
                <h4 class="title fontMS font20px28pxlh font-bold font-color-colorbrand10">
                  <a data-toggle="collapse" data-parent="#accordionsFAQ2" href="#faq2" class="accordion-toggle">
                    Security and Fees
                  </a>
                </h4>
              </div>


              <div id="faq2" class="faq-collapse collapse">
                <div class="panel-body">

                  <!-- Here is nested accordion sub-accordions-->
                  <div class="faq-group" id="faq2">


                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey">
                          <a data-toggle="collapse" data-parent="#accordion5922" href="#collapseInner5922">
                            If I lose my card or my card gets stolen, how do I get a refund or a replacement card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5922" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px24pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>If you believe that your card has been lost or stolen, you need to notify us IMMEDIATELY. You can do this by calling Customer Care at 1-877-770-6408. You will be asked to provide the card number and other identifying information. We cannot provide a replacement card unless you provide your card number and all other requested identifying information. If our records show that a balance still remains on the card, we will cancel the card, and upon your request, issue a replacement card to you in an amount equal to the remaining balance less any applicable fee.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey">
                          <a data-toggle="collapse" data-parent="#accordion5923" href="#collapseInner5923">
                            How do I select a PIN for the OneVanilla Card?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5923" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px24pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>While a PIN is not required to use your card, for your convenience, you may add a PIN to your Card. Simply select a 4-digit PIN of your choice during your first debit or PIN transaction. The PIN that you enter at the register at that time will be your PIN for all future PIN transactions.</p>

                        </div>
                      </div>
                    </div>



                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title fontPN font20px24pxlh font-color-darkgrey">
                          <a data-toggle="collapse" data-parent="#accordion5924" href="#collapseInner5924">
                            What do I do if I forget my PIN?
                          </a>
                        </h4>
                      </div>
                      <div id="collapseInner5924" class="panel-collapse collapse">
                        <div class="panel-body fontPN font15px24pxlh font-color-darkgrey horizontal-spacing-3">
                          <p>Your OneVanilla Card can always be used for credit transactions without a PIN. But if you would like to clear your PIN, you may do so by logging into this website with your card number and choosing "Manage PIN" or by calling the Customer Care number on the back of your card. Once you have cleared your PIN, you will need to select a new 4-digit PIN of your choice during the next use of your card for a PIN transaction.</p>

                        </div>
                      </div>
                    </div>


                  </div>
                  <!-- Here is nested accordion sub-accordions-->

                </div>
              </div>



            </div>
            <!--End Accordion List Parent-->


            <!--FAQ Category 3 Ends-->




            <!--FAQ Category 4 Begin-->



            <!--FAQ Category 4 Ends-->





            <!--FAQ Category 5 Begin-->



            <!--FAQ Category 5 Ends-->




            <!--FAQ Category 6 Begin-->



            <!--FAQ Category 6 Ends-->


            <div class="col-xs-12 col-md-8"></div>


            <div class="col-xs-12 col-md-8"></div>



          </div>
        </div>
        <!-- finish help template -->




        <!-- start contact us faq	template -->
        <div class="col-xs-12 col-md-5">




















          <!--Right Side Begins/ Help Menu Area/support Area-->

          <div class="contactContent">
            <h3 class="SSH3 fontMS font13px font-bold font-color-colorfieldlabel">Contact Us</h3>

            <img class="img-responsive" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/customer_service.jpg">

            <span class="fontPN font15px23pxlh">
            <p>To reach Customer Care, call:</p>

<p><strong>1-877-770-6408</strong></p>

<p>Or write to:</p>

<p><strong>OneVanilla&nbsp;Customer Care<br>
PO Box 826<br>
Fortson, GA 31808</strong></p>

        </span>
          </div>

          <!--Right Side Ends/ Help Menu Area/support Area--></div>
        <!-- ends contact us faq	template -->

      </div>







    </div>
  </div>
</div>