<div class="pageContentWrapper not_signed_in  ">
  <div class="container max-width-940 " id="brand-contentCardArea">
    <div id="whereToBuy" class="col-xs-12 SSaccountHeader Template info-pages">

















      <div class="body_content_header">
        <h1 class="SSH1 fontMS font40px44pxlh font-light horizontal-spacing-5 vertical-spacing-bottom-3">Where to Buy</h1>
        <div class="horizontal-spacing-5"><p>Purchase a OneVanilla Card at any of these retail locations.</p>

          <p>The links below will redirect to a new website. The Bank's Privacy Policy does not apply to the new website; consult the privacy policy on the new website for further information. The Bank does not endorse or guarantee the products, information, or recommendations provided in linked sites and the Bank is not liable for any failure of products or services advertised on these sites.&nbsp;</p>
        </div>
        <!-- whereToBuy -->
        <div class="col-md-8 collapse-padding-left vertical-padding-1">


          <div class="col-md-12 retailLocationInfo vertical-padding-2">

            <div class="col-md-3">
              <a href="http://www.cvs.com/CVSApp/store/storefinder.jsp"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/CVS-vert-logo_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.walmart.com/cservice/ca_storefinder.gsp?povid=P1171-C1110.2784+1145.2780-L0"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/WM_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.walgreens.com/storelocator/find.jsp"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Wag_Logotype_red_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="https://www.riteaid.com/store-locator"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/RiteAid_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.dollargeneral.com/storeLocator/index.jsp"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/DG_Yellow_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.7-eleven.com/Locator.aspx"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/7Eleven_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.familydollar.com/pages/store-locator.aspx"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Family_Dollar_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="https://www.speedway.com"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Speedway_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="https://www.shopmyexchange.com/exchange-stores"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/AAFES_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.samsclub.com/"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Sams_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.walgreens.com/topic/duane-reade/duane-reade.jsp"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/DuaneReade_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="https://www.cumberlandfarms.com/stores"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/CumberlandFarms_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="https://www.heb.com/store-locations?clear=true"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/HEB_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.circlek.com/store-locator?language=en"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/CircleK_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="https://www.fredsinc.com/locate/"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Freds_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.kangarooexpress.com/store-locator?language=en"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Pantry_Kangaroo_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="https://www.foodcity.com"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/KVAT_FoodCity_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="http://www.afstores.com/Store-Locator"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Assoc_Food_Stores_95px.png"></a>
            </div>

            <div class="col-md-3">
              <a href="https://www.sheetz.com/locations/locations.jsp"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Sheetz_95px.png"></a>
            </div>

          </div>


          <div class="col-md-12 retailLocationInfo vertical-padding-2 vertical-spacing-lg-2">

          </div>




        </div>
        <div class="col-md-4 vertical-padding-1 contactInoWTB">





















          <!--Right Side Begins/ Help Menu Area/support Area-->

          <div class="contactContent">
            <h3 class="SSH3 fontMS font13px font-bold font-color-colorfieldlabel">Contact Us</h3>

            <img class="img-responsive" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/customer_service.jpg">

            <span class="fontPN font15px23pxlh">
            <p>To reach Customer Care, call:</p>

<p><strong>1-877-770-6408</strong></p>

<p>Or write to:</p>

<p><strong>OneVanilla&nbsp;Customer Care<br>
PO Box 826<br>
Fortson, GA 31808</strong></p>

        </span>
          </div>

          <!--Right Side Ends/ Help Menu Area/support Area-->
        </div>
      </div>
    </div>
  </div>
</div>