<section id="siteWrapper">
  <div id="mobileButton"></div>
  <header id="header" class="header">
    <!--- ************************************** Header Part Start ******************************************************** -->
<app-nav-bar></app-nav-bar>

  </header>

</section>


<router-outlet></router-outlet>

<!--<app-home></app-home>

<app-where-to-buy></app-where-to-buy>

<app-using-your-card></app-using-your-card>

<app-try-my-vanilla></app-try-my-vanilla>
<app-faq></app-faq>-->

<footer class="brandFooterInfo SSfooterBkg" style="background-color: #4f4e4e">
  <div class="max-width-970 container footerContainer">

    <div class="feedback-phone">
      <a href="#top" class="backToTop button-scroll">ˆ Back to Top</a>
    </div>
    <div class="col-xs-4 vertical-spacing-4">


      <a class="navbar-brand" href="./home.html?csrfToken=4RnJLyy4yWEUa3xTfYAyY7Uhyav65P3h"><img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/vanillaLogo.png" class="footerLogo"></a>

    </div>
    <div class="col-xs-12 col-md-8 collapse-padding-right">
      <ul class="pull-right">
        <!-- eliminating aboutYourCard View in when page is loading display
        only after user Logged in. -->

        <li class="off"><a href="/aboutVanilla.html?csrfToken=4RnJLyy4yWEUa3xTfYAyY7Uhyav65P3h" class="fontRS font14px font-color-white font-bold About Vanilla">About Vanilla</a></li>
        <!-- eliminating aboutYourCard View in when page is loading display
        only after user Logged in. -->
        <li class="off"><a href="/whereToBuy.html?csrfToken=4RnJLyy4yWEUa3xTfYAyY7Uhyav65P3h" class="fontRS font14px font-color-white font-bold Where To Buy">Where To Buy</a></li>
        <!-- eliminating aboutYourCard View in when page is loading display
        only after user Logged in. -->
        <li class="off"><a href="/usingYourCard.html?csrfToken=4RnJLyy4yWEUa3xTfYAyY7Uhyav65P3h" class="fontRS font14px font-color-white font-bold OneVanilla Features">OneVanilla Features</a></li>
        <!-- eliminating aboutYourCard View in when page is loading display
        only after user Logged in. -->
        <li class="off"><a href="/faq.html?csrfToken=4RnJLyy4yWEUa3xTfYAyY7Uhyav65P3h" class="fontRS font14px font-color-white font-bold Help">Help</a></li>
      </ul>
    </div>
    <div class="col-xs-12 SSparagraph fontPNk font11px14pxlh">
      <p>Copyright © <script type="text/javascript">
          var currentDate = new Date()
          var year = currentDate.getFullYear()
          document.write( year)
      </script>2018 &nbsp;InComm. All rights reserved.</p>


      <p>TERMS AND CONDITIONS ARE APPLIED TO PREPAID CARDS. See&nbsp;<a href="./cardHolderAgreement.html?csrfToken=4RnJLyy4yWEUa3xTfYAyY7Uhyav65P3h">Cardholder Agreement</a>&nbsp;for further details.<br>
        <br>
        OneVanilla Prepaid MasterCard Cards are issued by The Bancorp Bank and MetaBank®,&nbsp;Members FDIC, pursuant to license by MasterCard International Incorporated. MasterCard is a registered trademark of MasterCard International Incorporated. See the back of your card for issuing bank. OneVanilla Prepaid Visa®&nbsp;Cards are issued by The Bancorp Bank pursuant to a license from Visa U.S.A. Inc. The Bancorp Bank; Member FDIC. Cards may be used in the U.S. and District of Columbia everywhere Visa debit cards or Debit MasterCard are accepted. See Cardholder Agreement for details. Cards are distributed and serviced by InComm Financial Services, Inc., which is licensed as a Money Transmitter by the New York State Department of Financial Services.<br>
        <br>
        <span style="line-height: 1.6em;">Colorado, Maryland, and Texas customers:&nbsp;</span><a href="http://www.fscarddisclosures.com" style="line-height: 1.6em;" target="_blank">View information</a><span style="line-height: 1.6em;">&nbsp;about addressing complaints regarding our money services business.</span></p>
    </div>

    <div class="col-xs-12 col-md-12">
      <ul class="pull-left">

        <li class="">
          <a class="fontPN font14px font-bold font-color-white text-underline" href="http://www.FSCardDisclosures.com/Bancorp_Privacy_Policy.pdf" target="_blank">The Bancorp Privacy Policy</a>
        </li>

        <li class="">
          <a class="fontPN font14px font-bold font-color-white text-underline" href="http://www.fscarddisclosures.com/Meta_Privacy_Policy.pdf" target="_blank">MetaBank Privacy Policy</a>



        </li>

        <li class="">


          <a class="fontPN font14px font-bold font-color-white text-underline" href="http://www.fscarddisclosures.com/InComm_Website_Terms_of_Use_General_July_2016.pdf" target="_blank">Terms of Use</a>



        </li>

        <li class="">


          <a class="fontPN font14px font-bold font-color-white text-underline" href="./cardHolderAgreement.html?csrfToken=4RnJLyy4yWEUa3xTfYAyY7Uhyav65P3h" target="_blank">Cardholder Agreement</a>



        </li>

      </ul>
    </div>
  </div>

</footer>