<div id="brandCarousel" class="container-fluid collapse-padding" style="background-image: url('https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/OneV_HERO_050317.jpg')" data-ride="carousel">

  <div id="aboveCarouselInfo" class="container-padding collapse-padding-xs collapse-padding-sm horizontal-spacing-xs-2 max-width-970">

    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-push-0 col-md-5 collapse-padding-xs collapse-padding-sm vertical-spacing-4 collapse-margin-xs-bottom loginFormBlock">
      <!-- start manage your card form -->


      <div class="dividerBorderAround">
        <div class="formContent brandLoginInfoModule dividerModule clearfix ">
          <form action="./loginCard.html" method="post" commandname="cardCommand" id="brandLoginForm" name="brandLoginForm" class="card well collapse-margin-xs-bottom collapse-padding" autocomplete="off">
            <input name="csrfToken" type="hidden" value="BXY7z39yZYqKXjgQfvasSl4myD4x1ZTV" style="display:none">

            <div class="fontPN font15px20pxlh font-bold font-color-darkgrey vertical-padding-bottom-2 vertical-padding-top-2 horizontal-padding-2">Manage Your OneVanilla Card</div>
            <div class="fontPN font20px27pxlh font-color-darkgrey vertical-padding-bottom-2 vertical-padding-top-2 horizontal-padding-4"><p>Access your account and check your balance</p>
            </div>

            <div class="horizontal-padding-4">
              <div class="form-group">
                <label class="fontPN font15px20pxlh font-bold font-color-darkgrey" for="cardnumber">Card Number</label>
                <input type="text" name="cardNumber" placeholder="16 digits, no spaces" class="form-control fontPN font13px" id="cardNumber" minlength="15" maxlength="16" mandatory="true" data-code="110">
              </div>
              <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-7 collapse-padding-right">
                  <label class="fontPN font15px20pxlh font-bold font-color-darkgrey" for="expiration">EXPIRATION DATE</label>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 expMM">
                      <div class="form-group">
                        <input type="text" name="expMonth" size="2" minlength="2" maxlength="2" placeholder="MM" class="form-control fontPN font13px" id="expMonth" mandatory="true" data-code="120">
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 expYY">
                      <div class="form-group">
                        <input type="text" name="expYear" size="4" minlength="2" maxlength="2" placeholder="YY" class="form-control fontPN font13px" id="expYear" mandatory="true" data-code="120">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 collapse-padding-right expCVV">
                  <div class="form-group">
                    <label class="fontPN font15px20pxlh font-bold font-color-darkgrey" for="cvv">CVV</label>

                    <span class="hint--right hoverTip preview" data-image="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/OneVanilla_CardBack_MC.png"><img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/tooltip.png" class="img" alt="Preview"></span>

                    <input type="text" name="cvv" placeholder="3 digits" size="4" maxlength="3" minlength="3" class="form-control fontPN font13px" id="cvv" mandatory="true" data-code="115">
                  </div>
                </div>
                <!--CAPTCHA has been Implemented but turned off, until development deems needed. REMOVE HIDE/HIDDEN TO VIEW -->
                <div id="cc-info" class="col-xs-4 col-sm-4 col-md-4 captchadiv hide hidden">
                  <label class="fontOS font-bold font13px font-color-darkgrey"><span class="star">*</span> The characters do not match the image below.</label>
                  <br>
                  <div class="row">
                    <img src="./stickyImg" border="0" class="captcha">
                    <br>
                    <input type="text" name="response" id="response" value="" autocomplete="off" minlength="1" maxlength="5" cssclass="input_2 inputbox sensitive" mandatory="true" data-code="340" placeholder="">
                  </div>
                </div>
                <!--CAPTCHA has been Implemented but turned off, until development deems needed. REMOVE HIDE/HIDDEN TO VIEW -->
                <div class="col-xs-12 col-sm-12 col-md-12 vertical-spacing-bottom-4">
                  <button type="submit" class="btn btn-primary blue btn-block btn-md" id="brandLoginForm_button">Sign In </button>
                </div>
              </div>
              <!--<div class="row vertical-spacing-bottom-2 text-center helpLinks">
                  <div class="col-xs-6 text-right horizontal-padding-right-1"><a href="./faq.html" class="SSLink fontOS font14px font-color-darkgrey text-underline">Lost your Card?</a></div><div class="col-xs-6 text-left collapse-padding">&nbsp;|&nbsp;<a href="./faq.html" class="text-left horizontal-padding-left-1 SSLink fontOS font14px font-color-darkgrey text-underline">Need Help?</a></div>
              </div>-->
            </div>
          </form>
          <div class="col-xs-12 collapse-margin-bottom vertical-padding-2 SSLink fontPN font14px" id="brandLoginFormFooterInfo"><p>Want to buy a OneVanilla Card? View a list of <a href="./whereToBuy.html?csrfToken=BXY7z39yZYqKXjgQfvasSl4myD4x1ZTV">OneVanilla retailers</a>.</p>
          </div>
        </div>
      </div>
      <!-- end manage your card form -->
    </div>

    <div class="col-xs-12 col-md-6 carouselText vertical-spacing-md-8 vertical-spacing-lg-8 vertical-padding-xs-4 vertical-padding-sm-4 horizontal-padding-left-4">




      <h1 class="fontRS font44px48pxlh font-bold font-color-darkblue"></h1>
      <p class="fontRS font24px28pxlh font-color-darkblue"></p>



    </div>
  </div>
  <div class="mobileSliderImage visible-xs visible-sm hidden-md hidden-lg">

    <img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/OneV_HERO_050317.jpg">

  </div>

</div>



<div class="brandPortal-HP-accordionInfo container-fluid collapse-padding-xs collapse-padding-sm vertical-padding-5">
  <div class="max-width-970 container-padding collapse-padding-xs collapse-padding-sm">
      
          <div class="col-md-12 col-xs-12 col-sm-12 accordion horizontal-padding-sm-2 vertical-padding-sm-2 horizontal-padding-xs-2 vertical-padding-xs-2 collapse-padding-md-left" id="brandAccordionInfo">
              
          </div>
      
          <div class="col-md-12 col-xs-12 col-sm-12 accordion horizontal-padding-sm-2 vertical-padding-sm-2 horizontal-padding-xs-2 vertical-padding-xs-2 collapse-padding-md-left" id="brandAccordionInfo">
              
          </div>
      
          <div class="col-md-12 col-xs-12 col-sm-12 accordion horizontal-padding-sm-2 vertical-padding-sm-2 horizontal-padding-xs-2 vertical-padding-xs-2 collapse-padding-md-left" id="brandAccordionInfo">
              
          </div>
      
  </div>
</div>





<div id="brand-contentCardArea" class="container-fluid collapse-padding-xs collapse-padding-sm horizontal-spacing-sm-2 horizontal-spacing-xs-2">
  <div class="container-padding max-width-940 collapse-padding-sm collapse-padding-xs  vertical-spacing-lg-1">
<!-- Panel start -->
    
     
    <div class="col-md-4 smallPanels  dividerModule vertical-spacing-lg-5 vertical-spacing-sm-5 vertical-spacing-xs-5">
      <div class="text-center topPanelIcon">
        <h3><img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/OneV_icons_UseOnline.png"></h3>
        <h4 class="fontMS font24px23pxlh font-bold font-color-headertitle">Use Online</h4>
        <span class="fontPN font14px21pxlh font-color-colorgrey70"><p>OneVanilla Card is a simple,&nbsp;safe and convenient method of making&nbsp;online payments.</p>
</span>
      </div>
      <div class="text-right" >
        <a href="./usingYourCard.html?csrfToken=GG7vzM0vFGVCHvbj59EBatksNABnOdJD" class="fontMS font12px22pxlh font-color-headertitle font-bold">Learn more</a></div>
    </div>
    
     
    <div class="col-md-4 smallPanels  dividerModule vertical-spacing-lg-5 vertical-spacing-sm-5 vertical-spacing-xs-5">
      <div class="text-center topPanelIcon">
        <h3><img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/OneV_icons_NoPersInfo.png"></h3>
        <h4 class="fontMS font24px23pxlh font-bold font-color-headertitle">No Personal Info<br>Required</h4>
        <span class="fontPN font14px21pxlh font-color-colorgrey70"><p>No need to go through&nbsp;a credit check either.*</p>

<p><sup>*This is not a credit card.</sup></p>
</span>
      </div>
      <div class="text-right" ><a href="./usingYourCard.html?csrfToken=GG7vzM0vFGVCHvbj59EBatksNABnOdJD" class="fontMS font12px22pxlh font-color-headertitle font-bold">Learn more</a></div>
    </div>
    
     
    <div class="col-md-4 smallPanels  dividerModule vertical-spacing-lg-5 vertical-spacing-sm-5 vertical-spacing-xs-5">
      <div class="text-center topPanelIcon">
        <h3><img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/OneV_icons_Nationwide.png"></h3>
        <h4 class="fontMS font24px23pxlh font-bold font-color-headertitle">Use Nationwide</h4>
        <span class="fontPN font14px21pxlh font-color-colorgrey70"><p>Can be used wherever Visa<sup>®</sup> debit cards or Debit MasterCard<sup>®</sup> are accepted in the U.S. and the District of Columbia.</p>
</span>
      </div>
      <div class="text-right" ><a href="./usingYourCard.html?csrfToken=GG7vzM0vFGVCHvbj59EBatksNABnOdJD" class="fontMS font12px22pxlh font-color-headertitle font-bold">Learn more</a></div>
    </div>
    
    
<div class="col-md-12 middleFullPanel collapse-padding-left vertical-spacing-lg-5 vertical-spacing-sm-5 dividerModule vertical-padding-3">		
<div class="col-md-12 fontMS font13px24pxlh font-color-darkgrey vertical-spacing-top-0 vertical-padding-bottom-6">Where to buy a OneVanilla Card</div>
<div class="col-md-5 fontPN font20px27pxlh font-color-colorgrey60 horizontal-padding-left-8"><p>You can purchase a OneVanilla Card at a store nearby.<br>
<br>
See a list of <a href="./whereToBuy.html?csrfToken=GG7vzM0vFGVCHvbj59EBatksNABnOdJD">all retailers</a>.</p>
</div>
<div class="col-md-7">
    <div class="col-md-12 retailLocationInfo retailLocationInfoMiddlePannel">
  
    <div class="col-md-4">
      <a href="http://www.cvs.com/CVSApp/store/storefinder.jsp"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/CVS-vert-logo_95px.png"></a>
      </div>
  
    <div class="col-md-4">
      <a href="http://www.walgreens.com/storelocator/find.jsp"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Wag_Logotype_red_95px.png"></a>
      </div>
  
    <div class="col-md-4">
      <a href="http://www5.riteaid.com/savenow/locator"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/RiteAid_95px.png"></a>
      </div>
  
    <div class="col-md-4">
      <a href="http://www.7-eleven.com/Locator.aspx"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/7Eleven_95px.png"></a>
      </div>
  
    <div class="col-md-4">
      <a href="http://www.walmart.com/cservice/ca_storefinder.gsp?povid=P1171-C1110.2784+1145.2780-L0"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/WM_95px.png"></a>
      </div>
  
    <div class="col-md-4">
      <a href="http://www.dollargeneral.com/storeLocator/index.jsp"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/DG_Yellow_95px.png"></a>
      </div>
  
    <div class="col-md-4">
      <a href="http://www.familydollar.com/pages/store-locator.aspx"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Family_Dollar_95px.png"></a>
      </div>
  
    <div class="col-md-4">
      <a href="https://www.valero.com/en-us/ProductsAndServices/Consumers/StoreLocator"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/Valero_95px.png"></a>
      </div>
  
    <div class="col-md-4">
      <a href="https://www.shopmyexchange.com/exchange-stores"><img class="img-responsive vertical-padding-1 collapse-padding-xs collapse-padding-sm" src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/AAFES_95px.png"></a>
      </div>
  
</div>
</div>
    </div>
<!-- Panel start -->
  <div>
     
      <div class="col-md-4 bottomPanels  vertical-spacing-lg-5 vertical-spacing-sm-5 vertical-spacing-xs-5 dividerModule">
      <div class="text-center bottomPanelIcon">
      <h3><img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/OneV_icons_PayAtPump.png"></h3>
      <h4 class="fontMS font24px23pxlh font-bold font-color-headertitle">Paying for Gas</h4>
      <span class="fontPN font14px21pxlh font-color-colorgrey70"><p>When paying at the pump,&nbsp;a temporary hold may be placed on your card.</p>
</span>
      </div>
      <div class="text-right" ><a href="./usingYourCard.html?csrfToken=GG7vzM0vFGVCHvbj59EBatksNABnOdJD" class="fontMS font12px22pxlh font-color-headertitle font-bold">Learn more</a></div>
      </div>
    
      <div class="col-md-4 bottomPanels  vertical-spacing-lg-5 vertical-spacing-sm-5 vertical-spacing-xs-5 dividerModule">
      <div class="text-center bottomPanelIcon">
      <h3><img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/OneV_icons_UseOnline.png"></h3>
      <h4 class="fontMS font24px23pxlh font-bold font-color-headertitle">Assign a ZIP</h4>
      <span class="fontPN font14px21pxlh font-color-colorgrey70"><p>Before you shop online with your card,&nbsp;be sure to register your ZIP code</p>
</span>
      </div>
      <div class="text-right" ><a href="./usingYourCard.html?csrfToken=GG7vzM0vFGVCHvbj59EBatksNABnOdJD" class="fontMS font12px22pxlh font-color-headertitle font-bold">Learn more</a></div>
      </div>
    
      <div class="col-md-4 bottomPanels  vertical-spacing-lg-5 vertical-spacing-sm-5 vertical-spacing-xs-5 dividerModule">
      <div class="text-center bottomPanelIcon">
      <h3><img src="https://assetscdn.incomm.com/static/onevanilla/images/onevanilla/en/icons/OneV_icons_KnowBalance.png"></h3>
      <h4 class="fontMS font24px23pxlh font-bold font-color-headertitle">Know your Balance</h4>
      <span class="fontPN font14px21pxlh font-color-colorgrey70"><p>To avoid having your card&nbsp;declined while making a purchase,&nbsp;know your card balance.</p>
</span>
      </div>
      <div class="text-right" ><a href="./usingYourCard.html?csrfToken=GG7vzM0vFGVCHvbj59EBatksNABnOdJD" class="fontMS font12px22pxlh font-color-headertitle font-bold">Learn more</a></div>
      </div>
    
  </div>
  </div>
</div>
